@model Song
@{
	ViewData["Title"] = "Create a song";
}

<h1> Create a song </h1>
<div class="container-md">
	<form method="post">
		<div>
			<label class="form-label" asp-for="Name">Song Name: </label>
			<input class="form-control" asp-for="Name" />
			<span class="text-warning" asp-validation-for="Name"></span>
		</div>
		
		<div>
			<label class="form-label" asp-for="Album">Album Name: </label>
			<input class="form-control" asp-for="Album" />
			<span class="text-warning" asp-validation-for="Album"></span>
		</div>
		
		<div>
			<label class="form-label" asp-for="Artist">Artist Name: </label>
			<input class="form-control" asp-for="Artist" />
			<span class="text-warning" asp-validation-for="Artist"></span>
		</div>
		
		<div>
			<label class="form-label" asp-for="Length">Song Length (minutes): </label>
			<input class="form-control" asp-for="Length" />
			<span class="text-warning" asp-validation-for="Length"></span>
		</div>
		
		<br />

		<input class="btn btn-outline-primary" type="submit" value="Create Song" />
	</form>
</div>




